#logo {
    font-family: 'Ephesis', cursive;
}
#basic-navbar-nav{
    float: left;
    justify-content: left;
    /* background-color: red; */
}

.me-auto, #navTabsRow, #nav-data {
    background-color: white;
}

#nav-data {
    width: 100%;

}

#nav-link-text:hover {
    color: blue;
}

.navbar-toggler-icon {
    margin-right: 20%; 
}

.navbar {
    /* border: solid red 2px; */
    /* display: block;
    position: fixed;
    z-index: 3;
    top: 0; */
}