#logo {
    font-family: 'Ephesis', cursive;
}
#basic-navbar-nav{
    float: left;
    justify-content: left;
    /* background-color: red; */
}

.me-auto, #navTabsRow, #nav-data {
    background-color: white;
}

/* #nav-data {
    

} */

#nav-link-text:hover {
    color: blue;
}

.navbar-toggler-icon {
    margin-right: 20%;
}