/* Try to get image to display from here in the CSS instead of the actual file Home.js */
.home-container {
    margin-top: 4rem;
}

#imageDataCertificate {
    width: 100%;
}

h1 { 
    text-align: center;
    color: black;
}

#data-text {
    text-align: left;
    overflow: auto;
    
}

h6 {
    text-align: center;
}

#big-btn {
    border: solid blue;
    background-color: white;
    color: blue;
    border-radius: 40px;
    background: transparent;
    
}

#big-btn:hover {
    border: solid blue;
    background-color: blue;
    color: white;
    
}