.project-col-data {
  /* border: solid purple; */
  justify-content: center;
  /* height: 100%; */
  align-self: center;
  align-content: center;
  width: 100%;
  position: relative;
  top: 20%;
  /* padding: 0%; */
  /* margin: 1% 1% 1% 1% auto; */
}
#project-row-data {
  /* border: solid blue; */
  /* width: 100%; */
  /* padding: 0%; */
  justify-content: center;
  margin: 0% auto;
  /* margin-left: 35%; */
}

#project-photo {
  margin: 2% 60% 2% 20%;
  /* border: solid orange; */
  width: 50%;
  height: 50%;
  padding: 0%;
}

.container {
  /* border: red solid 2px; */
  text-align: center;
  align-items: center;
  justify-content: center;
}
p {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: left;
}
.main-portfolio-container {
  /* border: solid red 10px; */
  display: grid;
  width: 100%;
  margin-top: 10%;
  /* grid-template: repeat(2, 1fr) / repeat(1, 1fr); */
  gap: 5%;
}
