#project-col-data {
    /* border: solid purple; */
    height: 100%;
    width: 90%;
    padding: 0%;
    margin: 1% 1% 1% 1% auto;
}
#project-row-data {
    justify-content: center;
    /* border: solid blue; */
    width: 100%;
    padding: 0%;
    margin: 0% auto;

}

#project-photo {
    justify-content: center;
    /* border: solid orange; */
    width: 240px;
    height: 150px;
    padding: 0%;
    

}

.row {

    /* border: solid green; */
    margin: 15px;
}

/* #project-container-data{
    height: 100%; 
    width: 100%;
    border: solid red;
    padding: 0%;
    margin: 0% auto;
} */
