.footer {
    background: white;
    margin-top: 8%;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0%;
    z-index: 2;
  }
  
  .footer-span {
    margin-top: 8%;
    background: white;
  }
  